@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
:root {
  --blue-950: hsl(233, 26%, 24%);
  --green-500: hsl(136, 64%, 51%);
  --cyan-400: hsl(192, 69%, 51%);
  --gray-600: hsl(233, 8%, 62%);
  --gray-100: hsl(220, 16%, 96%);
  --gray-50: hsl(0, 0%, 98%);
  --white: hsl(0, 100%, 100%);
  --font-primary: "Public Sans", sans-serif;
  --font-size-body: 18px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
